@import "btnConfig";
@import "utilities";
@import "config";


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $light-color;
  font-family: $font-stack;
  line-height: 1;
}

img {
  border-radius: 50%;
}

a {
  text-decoration: none;
}

.hero { //set background color using mixin
   @include set-bg($primary-color);  
  height: 500px; // Set height of hero section

  nav {
    display: flex; // Use flexbox for layout
    align-items: center; // Align items vertically
    justify-content: space-between; // Space elements evenly

    ul {
      display: flex; // Use flexbox for layout
      list-style-type: none; // Remove bullet points from list
    }

    li {
      padding: 13px; // Add padding around list items
    }

    a {
      color: text-color-picker($primary-color); // Set text color using a function
    }

    a:hover {
      color: $secondary-color; // Change text color on hover
    }
  }

  &-content {
    height: 100%; // Fill the height of the hero section
    display: flex; // Use flexbox for layout
    align-items: center; // Align items vertically
    justify-content: center; // Center items horizontally
    margin-top: 30px; // Add space above the content

    img {
      width: 50%; // Set width of image to 50%
    }

    h1 {
      font-size: 50px; // Set font size of heading
      line-height: 1.2; // Set line height of heading
    }
  }
}